module.exports = {
  API_PREFIX: '/api/v1',

  // redis config
  isUseRedis: false,
  DB_NAME: 'sse_db',
  RedisOpts: {
    no_ready_check: true,
    port: 5360,
    host: '',
    password: '',
  },
};
